label {
    font-size: 20px;
}

.grey-textarea {
    background-color: #f0f0f0;
    border: 1px solid #ced4da;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(192, 192, 192, 0.5);
}

.form-control:focus,
textarea:focus {
    outline-color: rgba(177, 25, 25, 0.5);
}